<form action="/persons" method="post">
    <h3>Nombre</h3>
    <input type="text" name="nombre" required>
    <br>
    <h3>Apellido</h3>
    <input type="text" name="apellido" required>
    <br>
    <h3>Edad</h3>
    <input type="text" name="edad" required>
    <br>
    <button action="submit">Enviar</button>
</form>

